{
  :port 8080
  :songs #fmaas/song-resource "Bubbleman.mid"
  :receivers {
    :COM3 {:type "PassThrough" :baud 9600 :comPort "COM3"}}
  :channels {
    :1 :COM3
    :2 :COM3
    :3 :COM3
    :4 :COM3
    :5 :COM3
    :6 :COM3
    :7 :COM3
    :8 :COM3
    :9 :COM3
    :10 :COM3
    :11 :COM3
    :12 :COM3
    :13 :COM3
    :14 :COM3
    :15 :COM3
    :16 :COM3
  }
}
